<%= form_for local do |f| %>
  <p>
    <%= f.label :name %>
    <%= local.name %>
  </p>
  <p>
    <%= f.label :moderator %>
    <%= f.collection_select :user_id, @possible_moderators, :id, :email, include_blank: "none" %>
  </p>
  <p>
    <%= f.label :poi %>
    <%= f.number_field :poi %>
  </p>
  <%= f.submit nil, class: "button expand" %>
<% end %>
