<div class="row small-6">
  <p>
    Name: <%= @local.name %>
  </p>
  <p>
    Description: <%= @local.description.html_safe %>
  </p>
  <p>
    Tags: <%= @local.tag_list %>
  </p>
  <p>
    <%= link_to "Edit", edit_local_path(@local), class: "button expand" %>
  </p>
  <p>
    All Events:
    <%= render "events/index", events: @events %>
    <%= link_to "New event", new_local_event_path(@local), class: "button expand" %>
  </p>
</div>
