<div class="row small-3">
  <p>
    Name: <%= @local.name %>
  </p>
  <p>
    Description: <%= @local.description.html_safe %>
  </p>
  <p>
    <%= link_to "Edit", edit_local_path(@local), class: "button expand" %>
  </p>
  <p>
    All Events:
    <table>
      <thead>
        <td>Description</td>
        <td>From</td>
        <td>to</td>
        <td/>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.description.html_safe %></td>
            <td><%= event.begin_time.to_s(:short) %></td>
            <td><%= event.end_time.to_s(:short) %></td>
            <td><%= link_to "Edit",  edit_local_event_path(@local, event) %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "New event", new_local_event_path(@local), class: "button expand" %>
  </p>
</div>
