<div class="row small-3">
  <h1 class="text-center">Edit local</h1>
  <% if @local.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @local.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form_for [:moderator, @local] do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Name" %>
      </p>
      <p>
        <%= f.label :description %>
        <%= f.text_area  :description, placeholder: "Description", class: "tinymce" %>
        <%= tinymce %>
      </p>
      <p>
        <%= f.label :tag_list, "Tags (separated by commas, max 3)" %>
        <%= f.text_field :tag_list %>
      </p>
      <%= f.submit nil, class: "button expand" %>
    <% end %>
  </p>
</div>
