<div class="row small-6">
  <h1>Content</h1>
  <% if @current_content.confirmed? %>
    <div class="column small-12">
      <%= render "content", content: @current_content %>
    </div>
  <% else %>
    <div class="column small-6">
      <h2>Pending:</h2>
      <%= render "content", content: @current_content %>
    </div>
    <div class="column small-6">
      <h2>Current:</h2>
      <%= render "content", content: @local %>
    </div>
  <% end %>
  <div class="column small-12">
    Tags: <%= @local.tag_list %>
  </div>
  <div>
    <%= link_to "Edit", edit_local_path(@local), class: "button expand" %>
  </div>
  <div>
    <h1>Events:</h1>
    <%= render "events/index", events: @events %>
    <%= link_to "New event", new_moderator_local_event_path(@local), class: "button expand" %>
  </div>
</div>
