<%= form_for [local, event] do |f| %>
  <% if event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in event.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Description", class: "tinymce" %>
    <%= tinymce %>
  </p>
  <p>
    <%= f.label :short_description %>
    <%= f.text_field :short_description %>
  </p>
  <p>
    <%= f.label :begin_time %>
    <%= f.text_field :begin_time, class: "datepicker" %>
  </p>
  <p>
    <%= f.label :end_time %>
    <%= f.text_field :end_time, class: "datepicker" %>
  </p>
  <%= f.submit nil, class: "button expand" %>
<% end %>
